<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Insurance App | Car Details </title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/animate.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
<style>
    .content-block {
    padding: 0 0 0px;
}
</style>
</head>

<body class="top-navigation">

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <a href="#" class="navbar-brand">App</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/" aria-expanded="false" role="button" >Admin Dashboard </a>
                    </li>
                </ul>
          <ul class="nav navbar-top-links navbar-right">
                    <li>
                            <a href="/api/calculate_insurance/"><i class="fa fa-link"></i> Access Insurance Calculator</a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container">

                        <div class="content">
                            <table width="100%" class="main" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td class="content-wrap aligncenter">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                    <td class="content-block">
                                        <h2>{{ data.insurance_type }} Insurance Details</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        <table class="invoice">
                                            <tbody><tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <dl class="dl-horizontal">

                                        <dt>Insured:</dt> <dd>{{ data.insured_by }}</dd>
                                        <dt>Address:</dt> <dd>  {{ data.address }}</dd>
                                        <dt>Contact No:</dt>  <dd>  {{ data.contact_no  }}</dd>
                                         <dt>Make of Vehicle:</dt>  <dd>  {{ data.car_model   }}</dd>
                                        <dt>Registration Number</dt>  <dd>  {{ data.registration_no   }}</dd>
                                                                <dt>Chassis</dt>  <dd>  {{ data.chassis    }}</dd>
                                                                <dt>Engine Number</dt>  <dd>  {{ data.engine_no    }}</dd>

                                    </dl>
                                                        </div>
                                                    </div>

                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="invoice-items" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        {% if data.insurance_type == "Comprehensive" %}
                                                        <tr>
                                                            <td>Sum Insured (GHC)</td>
                                                            <td class="alignright">{{ data.sum_insured  }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Own Damage Rate (%)</td>
                                                            <td class="alignright">{{ data.own_damage_rate  }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>CC Loadings (%)</td>
                                                            <td class="alignright">{{ data.cc_loadings  }}</td>
                                                        </tr>
                                                         {% endif %}
                                                        <tr>
                                                            <td>Old Age Loadings (%)</td>
                                                            <td class="alignright">{{ data.old_age_loadings  }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Inexperienced Driver Loading (GHC)</td>
                                                            <td class="alignright">{{ data.inexperienced_driver_loading  }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>TP Basic Premium (GHC)</td>
                                                            <td class="alignright">{{ data.tp_basic_premium  }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Extra Seat Loading (GHC)</td>
                                                            <td class="alignright">{{ data.extra_seat  }}</td>
                                                        </tr>

                                                        <tr>
                                                            <td>TPPDL (GHC)</td>
                                                            <td class="alignright">{{ data.tppdl  }}</td>
                                                        </tr>

                                                         <tr>
                                                            <td>NCD (%)</td>
                                                            <td class="alignright">{{ data.ncd  }}</td>
                                                        </tr>
                                                         <tr>
                                                            <td>Fleet Discount (%)</td>
                                                            <td class="alignright">{{ data.fleet_discount  }}</td>
                                                        </tr>
                                                        {% if data.insurance_type == "Comprehensive" %}
                                                         <tr>
                                                            <td>Excess Brought Back (GHC)</td>
                                                            <td class="alignright">{{ data.excess_brought_back  }}</td>
                                                        </tr>
                                                        {% endif %}
                                                         <tr>
                                                            <td>Extra TPPD Cover (GHC)</td>
                                                            <td class="alignright">{{ data.extra_tppd_cover  }}</td>
                                                        </tr>







                                                        <tr class="total">
                                                            <td width="80%" class="alignright"></td>
                                                            <td class="alignright"><br></td>
                                                        </tr>
                                                    </tbody></table>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        <a href="/">Back to dashboard</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">

                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
                        </div>
            </div>

        </div>
        <div class="footer">

            <div>
                <strong>Copyright</strong>  &copy; 2018
            </div>
        </div>

        </div>
        </div>



    <!-- Mainly scripts -->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>


    <!-- Custom and plugin javascript -->
    <script src="../static/js/inspinia.js"></script>



    <script>
        $(document).ready(function() {

        });
    </script>

</body>

</html>
